<configuration>
	<appender name="controller" class="ch.qos.logback.core.FileAppender">
		<file>target/application/controller.log</file>
		<encoder>
			<pattern>%date - [%6.6level] [%30mdc{stkn}]-[%30.30C{0}:%line]: %msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- Pare que logstash parsee
		<pattern>%date - [%6.6level] [%30mdc{stkn}]-[%30.30C{0}:%line]: %msg%n</pattern>
		Ej.
			2017-09-25 17:58:47,647 - [ DEBUG] [    0732-1506380333342]-[           CrearUsuarioService:58]: mundo
		Se requiere el siguietne grok
			\A%{TIMESTAMP_ISO8601:timestamp}\s\-\s\[\s*%{LOGLEVEL:nivel}\s*\]\s\[\s+%{DATA:mdc}\]\-\[\s*%{DATA:class}\]\:\s*%{DATA:message}\s*$
		
		Ref.	https://github.com/logstash-plugins/logstash-patterns-core/blob/master/patterns/grok-patterns
				http://grokdebug.herokuapp.com/
	 -->
	
	<appender name="app" class="ch.qos.logback.core.FileAppender">
		<file>target/application/app.log</file>
		<encoder>
			<pattern>%date - [%6.6level] [%30mdc{stkn}]-[%30.30C{0}:%line]: %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="data" class="ch.qos.logback.core.FileAppender">
		<file>target/application/data.log</file>
		<encoder>
			<pattern>%date - [%6.6level] [%30mdc{stkn}]-[%30.30C{0}:%line]: %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="infra" class="ch.qos.logback.core.FileAppender">
		<file>target/application/infra.log</file>
		<encoder>
			<pattern>%date - [%6.6level] [%30mdc{stkn}]-[%30.30C{0}:%line]: %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="exception" class="ch.qos.logback.core.FileAppender">
		<file>target/application/exception.log</file>
		<encoder>
			<pattern>%date - [%6.6level] [%30mdc{stkn}]-[%30.30C{0}:%line]: %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="amqp" class="org.springframework.amqp.rabbit.logback.AmqpAppender">
		<layout>
			<pattern>
				{
				"time": "%date{ISO8601}",
				"mdc": "%mdc{stkn}",
				"level": "%level",
				"class": "%C{0}:%line",
				"message": "%message"
				}
			</pattern>
		</layout>
	
		<!-- RabbitMQ connection -->
		<host>192.168.33.11</host>
		<port>5672</port>
		<username>elk</username>
		<password>elk</password>
	
		<applicationId>monox-usr</applicationId>
		<routingKeyPattern>monox</routingKeyPattern>
		<declareExchange>true</declareExchange>
		<exchangeType>direct</exchangeType>
		<exchangeName>ex_logstash</exchangeName>
	
		<generateId>true</generateId>
		<charset>UTF-8</charset>
		<durable>true</durable>
		<deliveryMode>PERSISTENT</deliveryMode>
	</appender>

	<logger name="rest" level="DEBUG"   >
		<appender-ref ref="controller" />
		<appender-ref ref="amqp" />
	</logger>
	<logger name="com.mk.mnx" level="DEBUG">
		<appender-ref ref="app" />
		<appender-ref ref="amqp" />
	</logger>
	<logger name="infra" level="DEBUG" >
		<appender-ref ref="infra" />
		<appender-ref ref="amqp" />
	</logger>
	<logger name="org.springframework" level="ERROR" >
		<appender-ref ref="infra" />
		<appender-ref ref="amqp" />
	</logger>
	<logger name="org.codehaus" level="ERROR" >
		<appender-ref ref="infra" />
	</logger>
	<logger name="org.springframework.data" level="ERROR" additivity="false">
		<appender-ref ref="data" />
		<appender-ref ref="amqp" />
	</logger>
	<logger name="exception" level="ERROR"   >
		<appender-ref ref="exception" />
		<appender-ref ref="amqp" />
	</logger>
	
	

</configuration>